* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header-1 {
    background-color: rgb(40, 27, 114);
    height: 110px;
  }

  .center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
  }

  html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(20, 17, 17);
    height: 100%;
  }

  .header {
    padding: 20px 0;
  }

  .logo {
    margin-top: 10px;
    width: 20%;
  }

  .menu {
    margin-top: 40px;
    width: 70%;
    text-align: right;
  }

  .menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
  }

  .color {
    background-color: rgb(20, 19, 19);
    height: 900px;
  }

  .content {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }

  .img {
    flex-basis: 45%;
  }

  .img img {
    width: 60%;
    height: 70%;
  }

  .inf {
    flex-basis: 45%;
    color: rgb(197, 197, 173);
    padding: 20px;
  }