* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(20, 17, 17);
    height: 100%;
}

.header-1 {
    background-color: rgb(40, 27, 114);
    height: 100px;
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-top: 10px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.image-item {
    position: relative;
    overflow: hidden;
}

.image-item img {
    width: 100%;
    height: auto;
}





@media (max-width: 768px) {
    .center {
        flex-direction: column;
        align-items: center;
    }

    .menu {
        justify-content: center;
        margin-top: 20px;
    }
}
